{% extends 'base.html' %}

{% block title %}
Password Changed
{% endblock %}

{% block content %}

<div class="auth-shell">
    <div class="auth-shell__form-wrap">
        <div class="auth-card">
            <i class="bi bi-check-circle-fill" style="font-size:70px;color:#27AE60;"></i>
            <h2>Password Updated ✅</h2>
            <p>
                Your password has been changed successfully.
            </p>

            <a href="{% url 'login' %}" class="btn btn--primary">
                Login
            </a>
        </div>
    </div>
</div>

{% endblock %}