{% extends 'base.html' %}

{% block title %}
Set New Password
{% endblock %}

{% block content %}

<div class="auth-shell">
    <div class="auth-shell__form-wrap">
        <div class="auth-card">
            {% if validlink %}
            <form method="post">
                {% csrf_token %}
                <div class="field">
                    <label>New Password</label>
                    {{ form.new_password1 }}
                </div>

                <div class="field">
                    <label>Confirm Password</label>
                    {{ form.new_password2 }}
                </div>

                <button class="btn btn--primary btn--block">
                    Reset Password
                </button>
            </form>
            {% else %}
            <p>This password reset link is invalid or has expired.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}